@layer base {
	html,
	body,
	#root {
		min-height: 100%;
	}

	body {
		margin: 0;
		background-color: var(--app-color-canvas);
		color: var(--app-color-text);
		font-family: var(--app-font-sans);
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}

	#root {
		width: 100%;
	}
}
