@reference "./theme.css";

.specialCard {
  --app-card-bg: var(--app-color-primary-300);
  --app-card-fg: var(--app-color-c3);
  --app-card-border: var(--app-color-c1);
}

.warningCard {
  --app-card-bg: var(--app-color-accent-three-100);
  --app-card-fg: var(--app-color-c3);
  --app-card-border: var(--app-color-accent-three-400);
}

[data-mantine-color-scheme='light'] {
  --mantine-color-default-border: var(--app-color-c1);
}