@import "tailwindcss";

/* restore Vite-like centering */
html, body {
  height: 100%;
}

body {
  margin: 0;
}

#root {
  min-height: 100%;
  display: flex;
  justify-content: center; /* horizontal center */
}

.appPage {
  width: 100%;
  max-width: 1280px;       /* or whatever you want */
  padding: 2rem;
}