@reference "../../../styles/theme.css";

@layer components {
	.unsupPreviewThead {
		position: sticky;
		top: 0;
		z-index: 2;
	}

	.unsupPreviewTh {
		@apply bg-neutral-900 text-center whitespace-nowrap;
	}

	.unsupPreviewTd {
		@apply text-center;
	}
}
