@reference "tailwindcss";

@layer components {
	.unsupPreviewThead {
		position: sticky;
		top: 0;
		z-index: 2;
	}

	.unsupPreviewTh {
		position: sticky;
		top: 0;
		z-index: 2;
		@apply bg-neutral-900 text-center whitespace-nowrap;
	}

	.unsupPreviewHeaderText {
		@apply whitespace-nowrap leading-tight;
	}

	.unsupPreviewTd {
		@apply text-center;
	}
}
